img{
    width: 10%;
    height:10%;
}

body{
    text-align: center;
}
 
#rectangle{
    width: 70%;
    height:80%;
}

.test_image{
    background-color: gray;
    height: 40%;
}

.test_image{
    background-color: gray;
    height: 40%;
}